* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #050505;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  position: sticky;
  top: 0;
  background: rgba(10,10,10,0.8);
   -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 214, 10, 0.15);
}

nav h2 {
  color: #ffd60a;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav a {
  color: #aaa;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #ffd60a;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #111, #050505);
  text-align: center;
  position: relative;
}

.hero h1 {
  font-size: 4.5rem;
  color: #ffd60a;
  text-shadow: 0 0 25px rgba(255, 214, 10, 0.7);
}

.hero h2 {
  margin-top: 10px;
  color: #ccc;
  font-weight: 300;
}

.hero p {
  margin: 20px 0;
  opacity: 0.7;
}

.btn {
  padding: 12px 30px;
  background: #ffd60a;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px #ffd60a;
}

/* PROJECTS */
.projects {
  padding: 100px 60px;
  text-align: center;
}

.projects h2 {
  color: #ffd60a;
  margin-bottom: 50px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background: #0d0d0d;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(255, 214, 10, 0.1);
  transition: 0.3s;
  text-align: left;
}

.card:hover {
  transform: translateY(-8px);
  border-color: #ffd60a;
  box-shadow: 0 0 20px rgba(255, 214, 10, 0.2);
}

.card h3 {
  color: #ffd60a;
  margin-bottom: 10px;
}

.card p {
  opacity: 0.7;
}

.links {
  margin-top: 15px;
}

.links a {
  margin-right: 15px;
  color: #ffd60a;
  text-decoration: none;
  font-size: 0.9rem;
}

/* FEATURED */
.featured {
  border: 1px solid #ffd60a;
  background: linear-gradient(145deg, #111, #0a0a0a);
}

/* ABOUT */
.about {
  padding: 100px 60px;
  text-align: center;
}

.about h2 {
  color: #ffd60a;
  margin-bottom: 20px;
}

.about p {
  max-width: 600px;
  margin: auto;
  opacity: 0.8;
}

/* CONTACT */
.contact {
  padding: 80px;
  text-align: center;
}

.contact h2 {
  color: #ffd60a;
}

.contact a {
  color: #ffd60a;
  text-decoration: none;
}


html {
  scroll-behavior: smooth;
}

/* EASTER EGG */
#cat-easter {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 999;
}

#cat-easter:hover {
  opacity: 1;
  transform: scale(1.2);
}


@keyframes catPop {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  60% {
    transform: translate(-50%, -50%) scale(7) rotate(540deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(6) rotate(720deg);
  }
}

#cat-easter.active {
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;

  animation: catPop 0.6s ease forwards;
  z-index: 2000;
}

#cat-easter {
  width: 50px;
}

body.flash {
  background: #111;
  transition: 0.2s;
}
/*end of easter egg*/